@font-face {
  font-family: "altehaas";
  src: url("/./assets/fonts/alte-haas-grotesk.bold.ttf")
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-input-placeholder {
  color: #c0c0c0;
}

input {
  border: 0px solid;
  border-bottom: solid white 1px;
  padding-bottom: 2px;
  background: rgba(0,0,0,0);
  margin: 0 0 0 0;
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: 'altehaas', sans-serif;
  width: auto;
  display: inline-block;
  line-height: 1.52;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: 0px solid;
  padding-bottom: 2px;
  background: rgba(0,0,0,0);
  margin: 0 0 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'altehaas', sans-serif;
  width: auto;
  display: inline-block;
  line-height: 1.52;
}

::selection {
  color: #000000; background: #ffffff;
}
body {
  font-family: 'altehaas', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  padding: 0px;
  color: white;
  background-color: rgba(0,0,0,1);
  background-size: cover;
  background-attachment: fixed;
}

body a {
  font-family: 'altehaas', Arial, sans-serif;
  text-decoration:none;
  color:#fff;
  border-bottom: 1px solid white;
  display:inline-block;
}

section {
    vertical-align: middle;
    color:white;
    display:table;
    width:100%;
    height: auto;
    background-color:rgba(0,0,0,0.5);
    background-size: cover;
}

section h1 {
display:table-cell;
vertical-align:middle;
font-size:56px;
}

section span {
  background-color: rgba(0,0,0,0.5);
  display:table;
  vertical-align:middle;
}

#intro span {
  display: inline-block;
  border-right: .0em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#no a, #no a:after, #no a:hover, #no a:hover:after {
  border-bottom: 0px;
  border-bottom: rgba(0,0,0,0);
}

#sba {
  text-align: right;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); filter: grayscale(100%);
  background-image: url('/./assets/img/mullins.jpg');
}

#sba small {background-color: rgba(0,0,0,0.5);}
#i69 {
  text-align: center;
  vertical-align: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('/./assets/img/boylan.png');
}

#i90 {
  text-align: center;
  vertical-align: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('/./assets/img/memo.PNG');
}

#i12 {
  text-align: center;
  vertical-align: bottom;
  webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#i15 {
    text-align: left;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
    background-image: url('/./assets/img/watched.jpg');
}

#thanks {
  position: relative;
  display:table;
  text-align: right;
  background-position: left;
  vertical-align: bottom;
  background-size:cover;
  background-attachment: fixed;
  background-image: url('/./assets/img/bcbubg.gif');
}

#z1_1 {
  position: relative;
  display:table;
  text-align: right;
  background-position: left;
  vertical-align: bottom;
  background-size:cover;
  background-attachment: fixed;
  background-image: url('/./assets/img/z1_1.jpg');
}

#creds, #creds h1 {
  position: absolute;
  text-align: right; bottom: 0; right: 0;
}

.arrow-down {
filter: invert(100%);
width: 0px;
height: 0px;
opacity: 1;
background-size: contain;
border-top: 0px solid rgba(255,255,255,1);
border-left: 0px solid transparent;
border-right: 0px solid transparent;
position: fixed;
z-index: 99;
bottom: 8%;
left: 0;
right: 0;
margin: 0 auto;
}

.bounce {
-moz-animation: bounce 3s infinite;
-webkit-animation: bounce 3s infinite;
animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-moz-transform: translateY(0);
transform: translateY(0);
}
40% {
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
60% {
-moz-transform: translateY(-15px);
transform: translateY(-15px);
}
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
40% {
-webkit-transform: translateY(-30px);
transform: translateY(-30px);
}
60% {
-webkit-transform: translateY(-15px);
transform: translateY(-15px);
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-webkit-transform: translateY(0);
transform: translateY(0);
}
40% {
-moz-transform: translateY(-30px);
-ms-transform: translateY(-30px);
-webkit-transform: translateY(-30px);
transform: translateY(-30px);
}
60% {
-moz-transform: translateY(-15px);
-ms-transform: translateY(-15px);
-webkit-transform: translateY(-15px);
transform: translateY(-15px);
}
}

blockquote.twitter-tweet {
  background-color: rgba(0,0,0,0.3);
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #fff 1px solid;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px 'altehaas', Arial, sans-serif;
  color: #fff;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px 'altehaas', Arial, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #fff;
  font-size: 14px;
}

/*mobile screens*/

@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {

  section {
    min-width: 320px;
    max-width: 420px;
  }

  video {max-width: 350px;}

  h1, h1 span, #intro {
     display: inline-block;
     font-size: 0.5em;
  }

  h2, h2 span, #i69 {
    font-size: 1em;
    text-align: right;
  }

  h2, h2 span, #i90, #i15 {
    font-size: 1em;
    text-align:center;
  }

  h3, h3 span { font-size: 0.3em; }

  li {
    font-size: 1.2em;
    font-weight:200;
    padding: 0.5em;
   }

   input {
     font-size: 1.2em;
   }

   header {
     margin-bottom: 2em;
     font-size: 0.5em;
   }

   body { padding: 8% 8% 8% 8%; }

   body p {
     font-size: 1em;
     font-weight:200;
   }

   section a { font-size: 0.7em; }

   table { font-size: 1em; display:inline; max-width: 400px; }

}
