
  body a {
    display:inline-block;
  }

td { overflow: hidden; }

#links {
background: white;
color: black
}

#links a {
color: black
}

section h1 { display: block }

/*mobile screens*/

@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {

  section {
    min-width: 320px;
    max-width: 420px;
  }

  #intro {
    line-height: 40px;
    padding-right: 20px;
    font-size: 2.5em;
  }

  body a {
    border-bottom: 0px solid white;
    display:inline-block;
  }

  #polica {
    color: white; background-color:black;
    width:300px; padding-right: 10px;
  }

  h1 {
    padding-right: 20px;
    font-size: 2.5em;
  }

  body { padding: 0%;}

  table { font-size: 1em; display:block; max-width: 400px; }

  #col td { display: block; border-bottom: 2px; padding-left: 0px; overflow: scroll; }

  #creds { color:black; font-size: 3em;}

}
