
  body a {
    color:#000;
    display:inline-block;
  }

td { overflow: hidden; }

#creds {
  background-color: black; color:white;
}

#polica {
  color: white;
  background-color:black;
  width:300px; padding-right: 10px;
}

/*mobile screens*/

@media only screen and (min-device-width : 412px) and (max-device-width : 412px) {

  section {
    min-width: 412px;
    max-width: 412px;
    height: 100vw;
    overflow: scroll;
  }

  #intro {
    line-height: 40px;
    padding-right: 20px;
    font-size: 2.5em;
  }

  #creds {
    background-color: white; color: black;
  }

  #polica {
    color: white; background-color:black;
    width:300px; padding-right: 10px;
  }

  h1 {
    padding-right: 20px;
    font-size: 2.5em;
  }

  body { padding: 0%;}

  table { font-size: 1em; display:block; max-width: 400px; }

  #col td { display: block; border-bottom: 2px; padding-left: 0px; overflow: scroll; }

}
